header {
  text-align: center;
  font-family: "Neucha", cursive;
}

footer {
  text-align: center;
  font-family: "Neucha", cursive;
}

img {
  padding-bottom: 0%;
  padding-top: 0%;
  margin-right: 3%;
}

iframe {
  margin-top: 20px;
  margin-left: 30px;
  border: 12px solid;
  border-image: linear-gradient(#ff512f, #dd2476, #1c64ff) 1;
}

.cerpathians-h4 {
  margin-top: 80px;
  margin-left: 30px;
  font-family: "Philosopher";
}

.header {
  margin-top: 30px;
}

.footer {
  margin-top: 10px;
}

.footer .card-text {
  margin-top: 20px;
  margin-bottom: 30px;
}

.rounded-img {
  width: 60%;
  border-radius: 60%;
  box-shadow: 0 0 10px rgba(26, 9, 9, 0.4);
  padding: 0.6em;
  margin-bottom: 1em;
}

.card {
  text-align: center;
  font-family: "Philosopher", sans-serif;
  font-size: 18px;
  height: 100%;
  border: 7px solid;
  background: url("photos/test.jpg") center;
  border-image: linear-gradient(#ff512f, #dd2476, #1c64ff) 1;
  animation: rotate 2.5s ease-in infinite;
}

@keyframes animate-background {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes rotate {
  50% {
    border-image: linear-gradient(360deg, #ff512f, #dd2476, #1c64ff) 1;
  }
}

.card img {
  max-width: 330px;
  height: auto;
  max-height: 250px;
  margin: auto;
}

.intro {
  width: 100%;
  min-height: 150vh;
  max-height: 350vh;
  background: url("photos/intro.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.button-link {
  color: black;
  text-decoration: none;
  border: 2px solid #3c67e3;
  border-radius: 4px;
  justify-content: space-between;
  margin: 0 0 30px 30px;
  font-weight: bold;
  font-family: "Philosopher";
  font-size: 18px;
}

.button-more {
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 15px 40px;
  border: 3px solid #3c67e3;
  border-radius: 10px;
  justify-content: space-between;
  margin: 30px 0 20px 0;
  font-weight: bold;
  font-family: "Philosopher", sans-serif;
  font-size: 20px;
}

.button-more:hover {
  animation: pulsate 1s ease-in-out;
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 25px #5ddcff, 0 0 50px #4e00c2;
  }
}
